.containerProduto {
    display: grid; 
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    grid-template-columns: 18% 64% 18%;
    background-color: aqua;
}

.produtoCard {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: bisque;
}

.produtoInfos {
    border-radius: 5px;
    background-color: brown;
}